{
  "extends": "eslint:recommended",
  "plugins": [],
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "assert": true,
    "expect": true,
    "spies": true,
    "window": true,
    "document": true
  },
  "env": {
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "mongo": true
  },
  "rules": {
    "comma-dangle": 2,
    "quotes": [2, "single"],
    "no-undef": 2,
    "global-strict": 0,
    "no-extra-semi": 2,
    "no-underscore-dangle": 0,
    "no-console": 1,
    "no-unused-vars": 2,
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "no-unreachable": 2,
    "no-alert": 2,
    "no-empty": 2,
    "no-warning-comments": [1, { "terms": ["fixme"], "location": "anywhere" }],
    "generator-star-spacing": [2,  {"before": false, "after": true}],
    "object-curly-spacing": [2, "always"],
    "dot-notation": 2,
    "valid-typeof": 2,
    "arrow-parens": [2, "always"]
  }
}
